.error {
	border:2px solid red;
	background-color:#FFC2C2;
	padding:10px 4px;
}
img {
  width: 100%;
  max-width: 100%;
}
.team_score {
	height: 3em;
}

.ui-li-has-icon .ui-btn-inner a.ui-link-inherit {
	padding-left: 50px;
}

.ui-listview .ui-li-icon,
.ui-li-icon {
	top: 0.5em;
	max-width: 32px;
	max-height: 32px;
}